* {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    display: block;
    text-align: center;
}

.loadingscreen {
    display: flex;
    justify-content: center;
 }

.courses, .tees, .addplayer {
    margin-right: 5px;
}

.apiinfo {
    display: flex;
    flex-wrap: wrap;
}

.colinfoumn{
    margin: 10px;
}

.totals {
    background: radial-gradient(yellow, lightgreen,greenyellow);
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

